<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUEGO DE PREGUNTAS (FACIL)</title>
    <script src="../../recursos/JS/Alberto.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../recursos/Imagenes/Cultura%20General.jpg">
     <style type: "text/css">
        body{
            background: url(../../recursos/Imagenes/fondo_monitor_wallpaper_0244_1920x1080.jpg);
        }
    </style>
</head>
<body>
<center>
<h1>PREGUNTAS (FACIL)</h1>
<br>
<hr>
<h2>1. ¿En cual país se encuentra la torre de Pisa?</h2>
<td><button onclick="respuestaM()" id="">Francia</button></td>
<td><button onclick="respuestaB()" id="">Italia</button></td>
<td><button onclick="respuestaM()" id="">España</button></td>
<td><button onclick="respuestaM()" id="">Brasil</button></td>
<hr>
<h2>2. ¿Los pueblos que creen en varios dioses como se llaman?</h2>
<td><button onclick="respuestaM()" id="">Monoteista</button></td>
<td><button onclick="respuestaM()" id="">Antiteista</button></td>
<td><button onclick="respuestaB()" id="">Politeístas</button></td>
<td><button onclick="respuestaM()" id="">Ateo</button></td>
<hr>
<h2>3. ¿Como se llama el lugar rodeado de tres cuerdas donde pelean los boxeadores?</h2>
<td><button onclick="respuestaB()" id="">Ring</button></td>
<td><button onclick="respuestaM()" id="">Cancha</button></td>
<td><button onclick="respuestaM()" id="">Campo</button></td>
<td><button onclick="respuestaM()" id="">Campo de boxeo</button></td>
<hr>
<h2>4. ¿Como se llama el triángulo que tiene sus tres lados iguales?</h2>
<td><button onclick="respuestaM()" id="">Equidistante</button></td>
<td><button onclick="respuestaM()" id="">Rectángulo</button></td>
<td><button onclick="respuestaB()" id="">Equilátero</button></td>
<td><button onclick="respuestaM()" id="">Isóceles</button></td>
<hr>
<h2>5. ¿Como se llama el procedimiento de subir la bandera?</h2>
<td><button onclick="respuestaM()" id="">Arrivar</button></td>
<td><button onclick="respuestaM()" id="">Parar</button></td>
<td><button onclick="respuestaM()" id="">Levantar</button></td>
<td><button onclick="respuestaB()" id="">Izar</button></td>
<hr>
<h2>6. ¿La capoeira es un baile de cual país?</h2>
<td><button onclick="respuestaM()" id="">Ecuador</button></td>
<td><button onclick="respuestaM()" id="">Colombia</button></td>
<td><button onclick="respuestaB()" id="">Brasil</button></td>
<td><button onclick="respuestaM()" id="">Perú</button></td>
<hr>
<h2>7. ¿En cual país queda la famosa Torre Eiffel?</h2>
<td><button onclick="respuestaB()" id="">Francia</button></td>
<td><button onclick="respuestaM()" id="">México</button></td>
<td><button onclick="respuestaM()" id="">Italia</button></td>
<td><button onclick="respuestaM()" id="">New York</button></td>
<hr>
<h2>8. ¿Cómo se denomina el resultado de la multiplicación?</h2>
<td><button onclick="respuestaM()" id="">Resultado</button></td>
<td><button onclick="respuestaM()" id="">Cociente</button></td>
<td><button onclick="respuestaB()" id="">Producto</button></td>
<td><button onclick="respuestaM()" id="">Dividendo</button></td>
<hr>
<h2>9. ¿Como le llaman a los textos de autores desconocidos?</h2>
<td><button onclick="respuestaM()" id="">Desconocidos</button></td>
<td><button onclick="respuestaM()" id="">Sin autor</button></td>
<td><button onclick="respuestaM()" id="">Incompletos</button></td>
<td><button onclick="respuestaB()" id="">Anónimos</button></td>
<hr>
<h2>10. ¿Quien pinto la ultima cena?</h2>
<td><button onclick="respuestaB()" id="">Leonardo da Vinci</button></td>
<td><button onclick="respuestaM()" id="">Sócrates</button></td>
<td><button onclick="respuestaM()" id="">Neruda</button></td>
<td><button onclick="respuestaM()" id="">Leonardo di Caprio</button></td>
<hr>
<br>
<br>
<td><button onclick="resultadoF()" id="">Resultados</button></td>
<br>
<br>
<a href="Alberto.html">VOLVER AL INICIO</a>
</center>
</body>
</html>
