<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUEGO DE PREGUNTAS (INTERMEDIO)</title>
    <script src="../../recursos/JS/Alberto.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../recursos/Imagenes/Cultura%20General.jpg">
     <style type: "text/css">
        body{
            background: url(../../recursos/Imagenes/4117237335_d1c881b35f_o.jpg);
        }
    </style>
</head>
<body>
<center>
<h1>PREGUNTAS (INTERMEDIO)</h1>
<br>
<hr>
<h2>1. ¿En que se especializa la cartografía?</h2>
<td><button onclick="respuestaB()" id="">En Mapas</button></td>
<td><button onclick="respuestaM()" id="">En Cartones</button></td>
<td><button onclick="respuestaM()" id="">En Papeles</button></td>
<td><button onclick="respuestaM()" id="">En Periódicos</button></td>
<hr>
<h2>2. ¿Cual es el color que representa la esperanza?</h2>
<td><button onclick="respuestaM()" id="">Azul</button></td>
<td><button onclick="respuestaM()" id="">Amarillo</button></td>
<td><button onclick="respuestaB()" id="">Verde</button></td>
<td><button onclick="respuestaM()" id="">Anaranjado</button></td>
<hr>
<h2>3. ¿Cual es el único mamífero capaz de volar?</h2>
<td><button onclick="respuestaM()" id="">Ardilla</button></td>
<td><button onclick="respuestaM()" id="">Avestruz</button></td>
<td><button onclick="respuestaM()" id="">Pinguino</button></td>
<td><button onclick="respuestaB()" id="">Murcielago</button></td>
<hr>
<h2>4. ¿Quien es el padre del sicoanálisis?</h2>
<td><button onclick="respuestaM()" id="">Albert Einstein</button></td>
<td><button onclick="respuestaM()" id="">Sócrates</button></td>
<td><button onclick="respuestaB()" id="">Sigmund Freud</button></td>
<td><button onclick="respuestaM()" id="">Aristóteles</button></td>
<hr>
<h2>5. ¿Qué nombre recibe el hijo político?</h2>
<td><button onclick="respuestaB()" id="">Yerno</button></td>
<td><button onclick="respuestaM()" id="">Hijo</button></td>
<td><button onclick="respuestaM()" id="">Hijastro</button></td>
<td><button onclick="respuestaM()" id="">Ninguno</button></td>
<hr>
<h2>6. ¿Cuantos años tiene un lustrol?</h2>
<td><button onclick="respuestaM()" id="">4 Años</button></td>
<td><button onclick="respuestaM()" id="">10 Años</button></td>
<td><button onclick="respuestaB()" id="">5 Años</button></td>
<td><button onclick="respuestaM()" id="">3Años</button></td>
<hr>
<h2>7. ¿Cual es el nombre de la lengua hablada en china?</h2>
<td><button onclick="respuestaB()" id="">Mandarin</button></td>
<td><button onclick="respuestaM()" id="">Inglés</button></td>
<td><button onclick="respuestaM()" id="">Chino</button></td>
<td><button onclick="respuestaM()" id="">Japonés</button></td>
<hr>
<h2>8. ¿Cual es la nación mas pequeña del mundo entero?</h2>
<td><button onclick="respuestaM()" id="">Montevideo</button></td>
<td><button onclick="respuestaB()" id="">El vaticano</button></td>
<td><button onclick="respuestaM()" id="">Afganistan</button></td>
<td><button onclick="respuestaM()" id="">Nueva guinea</button></td>
<hr>
<h2>9. ¿Cual es la música típica de Argentina ?</h2>
<td><button onclick="respuestaM()" id="">El Bals</button></td>
<td><button onclick="respuestaM()" id="">La Cumbia</button></td>
<td><button onclick="respuestaM()" id="">El Merengue</button></td>
<td><button onclick="respuestaB()" id="">El Tango</button></td>
<hr>
<h2>10. ¿En que país se encuentra el famoso monumento Taj Mahal?</h2>
<td><button onclick="respuestaM()" id="">China</button></td>
<td><button onclick="respuestaB()" id="">India</button></td>
<td><button onclick="respuestaM()" id="">New York</button></td>
<td><button onclick="respuestaM()" id="">Italia</button></td>
<hr>
<br>
<br>
<td><button onclick="resultadoF()" id="">Resultados</button></td>
<br>
<br>
<a href="Alberto.html">VOLVER AL INICIO</a>
</center>
</body>
</html>
