<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JUEGO DE PREGUNTAS (DIFICL)</title>
    <script src="../../recursos/JS/Alberto.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../recursos/Imagenes/Cultura%20General.jpg">
    <style type: "text/css">
        body{
            background: url(../../recursos/Imagenes/fondo.jpg);
        }
    </style>
</head>
<body>
<center>
<h1>PREGUNTAS (DIFICIL)</h1>
<br>
<hr>
<h2>1. ¿Cuántas son las tradicionales posadas decembrinas?</h2>
<td><button onclick="respuestaM()" id="">Diez</button></td>
<td><button onclick="respuestaM()" id="">Cien</button></td>
<td><button onclick="respuestaB()" id="">Nueve</button></td>
<td><button onclick="respuestaM()" id="">Cuatro</button></td>
<hr>
<h2>2. ¿Cómo se llama el armazón de los aviones?</h2>
<td><button onclick="respuestaB()" id="">Fuselaje</button></td>
<td><button onclick="respuestaM()" id="">Carcasa</button></td>
<td><button onclick="respuestaM()" id="">Armazon</button></td>
<td><button onclick="respuestaM()" id="">Protector</button></td>
<hr>
<h2>3. ¿En qué estado de la República Mexicana se encuentra la zona arqueológica de Monte Albán?</h2>
<td><button onclick="respuestaM()" id="">Julia</button></td>
<td><button onclick="respuestaM()" id="">Oxapampa</button></td>
<td><button onclick="respuestaM()" id="">Puerto Vallarta</button></td>
<td><button onclick="respuestaB()" id="">Oaxaca</button></td>
<hr>
<h2>4. ¿Cuáles son las formas irregulares del participio?</h2>
<td><button onclick="respuestaM()" id="">So, Ch, Ll</button></td>
<td><button onclick="respuestaM()" id="">Pa, vam, che</button></td>
<td><button onclick="respuestaB()" id="">To, So, Cho</button></td>
<td><button onclick="respuestaM()" id="">Ñ, LL, Pa</button></td>
<hr>
<h2>5. ¿A qué Dios adoraban los brahamanes de la India?</h2>
<td><button onclick="respuestaB()" id="">Brahma</button></td>
<td><button onclick="respuestaM()" id="">Labán</button></td>
<td><button onclick="respuestaM()" id="">Plutón</button></td>
<td><button onclick="respuestaM()" id="">Zeus</button></td>
<hr>
<h2>6. ¿Como se llama el himno nacional de Francia?</h2>
<td><button onclick="respuestaM()" id="">Himno Nacional</button></td>
<td><button onclick="respuestaM()" id="">Francesa</button></td>
<td><button onclick="respuestaM()" id="">Himno a Francia</button></td>
<td><button onclick="respuestaB()" id="">La marsellesa</button></td>
<hr>
<h2>7. ¿Que es un mitómano?</h2>
<td><button onclick="respuestaM()" id="">Persona que cree en mitos</button></td>
<td><button onclick="respuestaB()" id="">Persona con manía de mentir</button></td>
<td><button onclick="respuestaM()" id="">Persona que redacta leyendas o mitos</button></td>
<hr>
<h2>8. ¿Cual es el nombre de la actriz mexicana conocida como “la doña?</h2>
<td><button onclick="respuestaM()" id="">Marta Zuares</button></td>
<td><button onclick="respuestaB()" id="">María Félix</button></td>
<td><button onclick="respuestaM()" id="">Elizabeth Soto</button></td>
<td><button onclick="respuestaM()" id="">Lidia Hernán</button></td>
<hr>
<h2>9. ¿Quien gobernava el Perú cuando lledo don José de San Martín?</h2>
<td><button onclick="respuestaM()" id="">Jorge IV</button></td>
<td><button onclick="respuestaM()" id="">Juan Jose III</button></td>
<td><button onclick="respuestaM()" id="">José Abelardo</button></td>
<td><button onclick="respuestaB()" id="">Joaquín de Pezuela</button></td>
<hr>
<h2>10. ¿Cuál es, en México, el banco de los bancos?</h2>
<td><button onclick="respuestaM()" id="">Banco de la Reserva</button></td>
<td><button onclick="respuestaB()" id="">El Banco de México</button></td>
<td><button onclick="respuestaM()" id="">Banco Nacional de Mexico</button></td>
<hr>
<br>
<br>
<td><button onclick="resultadoF()" id="">Resultados</button></td>
<br>
<br>
<a href="Alberto.html">VOLVER AL INICIO</a>
</center>
</body>
</html>
