<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1Parte</title>
    <link rel="stylesheet" href="../../recursos/css/AldoBoton.css">
</head>
<body background="https://previews.123rf.com/images/zodchiy/zodchiy1506/zodchiy150600053/41984560-Patr-n-transparente-de-diferentes-tama-os-libros-sobre-un-fondo-de-color-Uso-perfecto-para-los-fondo-Foto-de-archivo.jpg">
    <center><font color=white size=13 face=calibri onMouseout="this.style.color='red'" onmousemove="this.style.color='blue'">JUEGO DE PREGUNTAS</font><br></center>
    <br>
    <b ><font color=white size=5px onMouseout="this.style.color='#ebff00'" onmousemove="this.style.color='#00ff27'"><center>Objetivo: Has los mejores puntos y responde a cada pregunta</center></font></b>
    <br>
    <br>
<form>
<b><font color=white><center>1.-¿Quien es el autor de la obra La Serpiente de Oro es el escritor?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(1, this.value)"><font color=white>Ciro Alegria</font><br>
<input type=radio value="b" onClick="desarrollo(1, this.value)"><font color=white>Jose Maria Arguedas</font><br>
<input type=radio value="c" onClick="desarrollo(1, this.value)"><font color=white>Mario Vargas Llosa</font><br>
</center>
<br>
<b><font color=white><center>2.-¿Qué presidente del Perú ayudó a Argentina en la Guerra de las Malvinas?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(2, this.value)"><font color=white>Manuel Odria</font><br>
<input type=radio value="b" onClick="desarrollo(2, this.value)"><font color=white>Fernando Belaunde</font><br>
<input type=radio value="c" onClick="desarrollo(2, this.value)"><font color=white>Alan García</font><br>
</center>
<br>
<b><font color=white><center>3.-¿;En cual pa&iacute;s se encuentra la torre de Pisa?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(3, this.value)"><font color=white>Francia</font><br>
<input type=radio value="b" onClick="desarrollo(3, this.value)"><font color=white>Italia</font><br>
<input type=radio value="c" onClick="desarrollo(3, this.value)"><font color=white>Rusia</font><br>
</center>
<br>
<b><font color=white><center>4.-¿Como se llama el himno nacional de Francia?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(4, this.value)"><font color=white>Matmuaze</font><br>
<input type=radio value="b" onClick="desarrollo(4, this.value)"><font color=white>Sweet child of mine</font><br>
<input type=radio value="c" onClick="desarrollo(4, this.value)"><font color=white>La Marsella</font><br>
</center>
<br>
<b><font color=white><center>5.-¿Quien pinto la ultima cena?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(5, this.value)"><font color=white>Leronardo Da Vinci</font><br>
<input type=radio value="b" onClick="desarrollo(5, this.value)"><font color=white>Picasso</font><br>
<input type=radio value="c" onClick="desarrollo(5, this.value)"><font color=white>Van Gogh</font><br>
</center>
<br>
<b><font color=white><center>6.-¿Cual es el &uacute;nico mamífero capaz de volar?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(6, this.value)"><font color=white>Murcielago</font><br>
<input type=radio value="b" onClick="desarrollo(6, this.value)"><font color=white>Pingüino</font><br>
<input type=radio value="c" onClick="desarrollo(6, this.value)"><font color=white>Camello</font><br>
</center>
<br>
<b><font color=white><center>7.-¿Cuantos años tiene un lustro?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(7, this.value)"><font color=white>5 años</font><br>
<input type=radio value="b" onClick="desarrollo(7, this.value)"><font color=white>10 años</font><br>
<input type=radio value="c" onClick="desarrollo(7, this.value)"><font color=white>500 años</font><br>
</center>
<b><font color=white><center>8.-¿Que cantidad de huesos tiene en total el ser humano?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(8, this.value)"><font color=white>365 huesos</font><br>
<input type=radio value="b" onClick="desarrollo(8, this.value)"><font color=white>206 huesos</font><br>
<input type=radio value="c" onClick="desarrollo(8, this.value)"><font color=white>250 huesos</font><br>
</center>
<br>
<b><font color=white><center>9.-¿A cual &aacute;rea del arte se dedican los premios grammy?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(9, this.value)"><font color=white>A los deportes</font><br>
<input type=radio value="b" onClick="desarrollo(9, this.value)"><font color=white>Al cine</font><br>
<input type=radio value="c" onClick="desarrollo(9, this.value)"><font color=white>A la musica</font><br>
</center>
<br>
<b><font color=white><center>10.-¿Como se llama el lugar rodeado de tres cuerdas donde pelean los boxeadores?</center></font></b><p>
<center>
<input type=radio value="a" onClick="desarrollo(10, this.value)"><font color=white>Ring</font><br>
<input type=radio value="b" onClick="desarrollo(10, this.value)"><font color=white>Tablero</font><br>
<input type=radio value="c" onClick="desarrollo(10, this.value)"><font color=white>Lona</font><br>
</center>
     <br>
    <br>
<center> <button id="btn">FINALIZAR</button>
</center>
</form>
    <center><font color=white size=5 face=calibri>ALDO EMANUEL SORALUZ SORALUZ</font><br></center>
    <br>
</body>
</html>
