<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juegos</title>
    <script src="../../recursos/JS/MiJS.js"></script>




    <style>

        input[type="text"]{
            height:30px;
        }

        input[ type ="button"]{

        width: 100%;
        height: 20%;
        font-size:20px;
        }

        table,form{

        width 300px;
        height: 100.5px;
            margin: 0 auto;
        }

        h1 { text-align: center}


    </style>
</head>


<!--
el cuerpo de mi app de juego
__________________________________________
-->

<body style="background:#0DC5EA">


                     <h1 style="color:#EA0D1F" >BIENBENIDOS AL JUEGO</h1>



<div id="preguntas" >

    <form name="resPreguntas" >


        <table  style="background:#0DEA48" border="0" >



            <tr>
                <td>¿ QUIEN TRAICIONO A JESUS</td><tr>
                <td ><input type="button" value="1:  JONAS" onclick=""></td><tr>
               <td ><input type="button" value="2:  DANIEL" onclick=""></td><tr>
               <td ><input type="button" value="3:  PEDRO" onclick=""></td><tr>
               <td><input id="calif" type="text" name="nombre" placeholder="ingrese el numero"</td><tr>
               <td ><input type="button"  value="Calificar" onclick="calificacion()"></td>
            </tr>

            <tr>
                <td>¿QUIEN DERRTO A  GOLIAT?</td><tr>
                <td ><input type="button" value="1  :ADAN" onclick=""></td><td></td><tr>
               <td ><input type="button" value="2:  DAVID" onclick=""></td><tr>
               <td ><input type="button" value="3:   MARIA" onclick=""></td><tr>
               <td><input id="cali" type="text" name="nam" placeholder="ingrese el numero"></td><tr>
               <td><input type="button"  value="Calificar" onclick="calificacion2()"></td>
            </tr>

            <tr><tr>
                <td>QUIEN HIZO LOS CIELOS Y LA TIERRA</td><tr>
                <td ><input type="button" value="1:  JESUS" onclick=""></td><tr>
               <td ><input type="button" value="2:   LUCIFER" onclick=""></td><tr>
               <td ><input type="button" value="3:   SALOMON" onclick=""></td><tr>
               <td><input id="cal" type="text" name="nameis" placeholder="ingrese el numero"></td><tr>
               <td><input type="button"  value="Calificar" onclick="calificacion3()"></td>
            </tr>


             <tr>
               <td>GRACIAS POR SU PREFERENCIA</td>
            </tr>
        </table>
    </form>




</div>

</body>
</html>
