<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mundo Deportivo</title>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../recursos/css/estilo.css">
</head>

<body>
    <div class="Imagenes">
        <h1 class="logo1" align=center> F U T B O L </h1>
        <label class="fontawesome-align-justify" for="menu-bar"></label>
        <nav class="menu">
            <a class="inicio" href="">INICIO</a>
            <a class="mejores" href="">MEJORES FUTBOLISTAS</a>
            <a class="futbolistas" href="">FUTBOLISTAS</a>
            <a class="equipos" href="">EQUIPOS</a>
            <a class="contacto" href="">CONTACTO</a>
        </nav>
    </div>
    <main>
        <section id="banner">
            <img src="../../recursos/Imagenes/fondo11.jpg" width="1330" height="500">
            <div class="contenedor">
                <h2 align=center>Mejores Futbolistas</h2>
            </div>
        </section>



        <section id="blog">
            <div class="contenedor">

                <img src="../../recursos/Imagenes/messi1.jpg" width="330" height="330">
                <img src="../../recursos/Imagenes/ronaldo1.jpg" width="330" height="330">
                <img src="../../recursos/Imagenes/neymar.jpg" width="330" height="330">
                <img src="../../recursos/Imagenes/dybala.jpg" width="330" height="330">


            </div>
        </section>
        <section id="bienvenidos">
            <div class="contenedor">
                <h2 align=center>BIENVENIDOS AL MUNDO DEL FUTBOL</h2>
                <p>El futbol, tambien conocido como futbol asociación y balón pie entre muchos otros nombres que se le da, es el deporte mas popular entre todos los deportes, se caracteriza por ser un deporte de contacto y juego en equipo, sin duda que a miles de personas les atrae ver como tambien practicarlo</p>
            </div>
        </section>
        <h3>Futbolistas de elite </h3>
        <div class="contenedor">

            <img src="../../recursos/Imagenes/iniesta.jpg" width="265" height="265">

            <img src="../../recursos/Imagenes/zlatan.jpg" width="265" height="265">


            <img src="../../recursos/Imagenes/kross.jpg" width="265" height="265">

            <img src="../../recursos/Imagenes/ramos.jpg" width="265" height="265">

            <img src="../../recursos/Imagenes/alves.jpg" width="265" height="265">
        </div>
    </main>


    <h1>Equipos</h1>

    <table>

       <tr>
           <td><strong>FC BARCELONA</strong></td>
           <td><strong>REAL MADRID</strong></td>
           <td><strong>BAYER MUNICH</strong></td>
           <td><strong>JUVENTUS</strong></td>
       </tr>

       <tr>
           <td>Leonel Messi(Delantero)</td>
           <td>Cristiano Ronaldo(Delantero)</td>
           <td>Thomas Muller(Delantero)</td>
           <td>Paulo Dybala(Delantero)</td>
       </tr>
       <tr>
           <td>Neymar(Delantero)</td>
           <td>Gareth Bale(Delantero)</td>
           <td>Robert Lewandowski(Delantero)</td>
           <td>Gonzalo Higuaín(Delantero)</td>
       </tr>
<tr>
           <td>Luis Suarez(Delantero)</td>
           <td>Karim Benzema(Delantero)</td>
           <td>Kingsley Coman(Centrocampista)</td>
           <td>Mario Mandzukic(Delantero)</td>
       </tr>
<tr>
           <td>Denis Suárez(Centrocampista)</td>
           <td>Lucas Silva(Centrocampista)</td>
           <td>Javi Martinez(Centrocampista)</td>
           <td>Rolando Marchisio(Delantero)</td>
       </tr>
<tr>
           <td>Sergio Busquets(Centrocampista)</td>
           <td>Martin Odegaard(Centrocampista)</td>
           <td>Niklas Dorsch(Centrocampista)</td>
           <td>Sami Khedira(Centrocampista)</td>
       </tr>
<tr>
           <td>Rafhina Alcántara(Centrocampista)</td>
           <td>Isco(Centrocampista)</td>
           <td>Xavi Alonso(Centrocampista)</td>
           <td>Mario Lemina(Centrocampista)</td>
       </tr>
<tr>
           <td>Ivan Rakitic(Centrocampista)</td>
           <td>Luka Modric(Centrocampista)</td>
           <td>Arturo Vidal(Centrocampista)</td>
           <td>Juan Cuadrado(Centrocampista)</td>
       </tr>
<tr>
           <td>Sergi Roberto(Defensa)</td>
           <td>Marcelo Vierira(Defensa)</td>
           <td>David Alaba(Defensa)</td>
           <td>Alex Sandro(Defensa)</td>
       </tr>
<tr>
           <td>Gerard Piqué(Defensa)</td>
           <td>Pepe(Defensa)</td>
           <td>Jérome Boateng(Defensa)</td>
           <td>Andrea Barzagli(Defensa)</td>
       </tr>
<tr>
           <td>Javier Mascherano(Defensa)</td>
           <td>Danilo Da Silva(Defensa)</td>
           <td>Juan Bernat(Defensa)</td>
           <td>Leonardo Bonucci(Defensa)</td>
       </tr>
<tr>
           <td>Gerard Piqué(Defensa)</td>
           <td>Sergio Ramos(Defensa)</td>
           <td>Philipp Lahm(Defensa)</td>
           <td>Giorgio Chiellini(Defensa)</td>
       </tr>
<tr>
           <td>Samuel Umtiti(Defensa)</td>
           <td>Daniel Carvajal(Defensa)</td>
           <td>Mats Hummels(Defensa)</td>
           <td>Dani Alves(Defensa)</td>
       </tr>

    </table>
 <footer>
        <p class="copy">Jhedac &copy; 2017</p>
    </footer>

</body>
</html>
