<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../recursos/css/EstiloLogin.css">
</head>
<body>

    <div class="contenedor">
       <img src="../../recursos/Imagenes/Usuario.png" alt="">
       <script>
           var x=0;
           if(x==0 && registrar='REGISTRAR'){

               usuariorecib $_GETT['emailR'];
               consterecb= $_GET['contraseñaR'];



               var Html=("<form method='get' action='PaginaPrincipal.html'>");
               document.write(Html);
            }else{
                var Html=("<form action='KarolineLogin.html'>");
                document.write(Html);
                document.write("El usuario y/o contraseña no existen");
            }

        </script>
        <form method="get" action="PaginaPrincipal.html">
            <div class="form-input">
            <input type="text" name="usuario" placeholder="Usuario">
            </div>
            <div class="form-input">
                <input type="password" name="contraseña" placeholder="Contraseña">
            </div>
            <input type="submit" name="submit" value="LOGIN" class="btn-login"><br>
            <a href="../../public/view/KarolineRegistro.html?x=0">Registrate</a>
        </form>

    </div>

</body>
</html>
