<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../recursos/css/EstiloLogin.css">
</head>
<body>

    <div class="contenedor">
       <img src="../../recursos/Imagenes/Usuario.png" alt="">
        <form>
            <div class="form-input">
            <input type="text" name="usuario" placeholder="Usuario">
            </div>
            <div class="form-input">
                <input type="password" name="contraseña" placeholder="Contraseña">
            </div>
            <input type="submit" name="submit" value="LOGIN" class="btn-login"><br>
            <a href="../../public/view/KarolineRegistro.html">Registrate</a>
        </form>
    </div>

</body>
</html>
